# Escludi CAD
CAD/Esempi/
CAD/formule.pdf
CAD/v.1/Assiemi/
CAD/v.1/Particolari/
CAD/v.1/Normali/
CAD/v.1/Stampe/

# Escludi appunti
Appunti/

# Escludi tutti i file con un'estensione specifica
*.kicad_prl
*.lck