# Escludi CAD
CAD/Esempi/
CAD/formule.pdf
CAD/v.1/Assiemi/
CAD/v.1/Particolari/
CAD/v.1/Normali/
CAD/v.1/Stampe/
CAD/v.2/Assiemi/
CAD/v.2/Particolari/
CAD/v.2/Normali/
CAD/v.2/Prove/

# Escludi appunti


# Escludi tutti i file con un'estensione specifica
*.kicad_prl
*.lck